body {
    font-family: 'Lora', serif;
    background-color: #F2D38D;
    color:#AD8F4C;
}

/*CSS Comment Template*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size:40pt;
}

h2 {
    margin: .1em;
}

header {
    text-align:center;
}

#hero, footer {
    color:#5E78AD;
    border: 2px solid #BDD3FF;
    background-color: #A1BEFA;
    text-align:center; 
    padding: 10px;
    display: horizontal; 
}

/*Hero Section*/

#hero img {
    width: 300px;
}

/*Bio Section*/

#bio {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:20pt;
}

/*Hobbies */

#hobbies {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 5px;
}

#hobbies ul li:nth-child(even) {
    color: brown;
}

#hobbies ul li:nth-child(odd) {
    color: green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Gallery*/

#gallery {
    border: 2px solid #BDD3FF;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
}

/* Literature */

#lit {
    border: 2px solid #BDD3FF;
    margin-bottom: 2rem;
    padding: 5px;
}

#lit div p{
    padding: 0.5rem 0;
    margin: 0 auto;
}

/* Dropcaps */ 

#lit div p:first-child:first-letter {
    color: brown;
    background-image: radial-gradient(#583954, #520534);
    float: left;
    font-size:1.5em;
    padding: .4em;
    margin-right: .25em;
    line-height: .75;
    border: 4px solid brown;
    font-family: "Helvetica";
    text-shadow: 3px 3px 10px black;
    box-shadow: 5px 10x 20px black;
    border-top-left-radius: .4em;
    border-bottom-right-radius: .2em;
}

@media screen and (min-width: 60em); 

figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
}    

figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

figure img{
    width: 100%;
}

#lit div {
    clear:both;
    max-width:100;
    columns: 20rem;
}

/* large screen size */

@media  and (min-width: 100em) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

#video {
    text-align: center;
    font-size: 30px;
    width: auto;
    height: auto;
    background-color: #000000;
    padding: 2px;
}

body {
    font-family: 'Lora', serif;
    background-color: whitesmoke;
    color: #AD8F4C;
}

/* Contact Form */

#formElements {
    display: grid;
    width: auto;
    height: auto;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: solid #BDD3FF;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

legend {
    background-color: #BDD3FF;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style:none;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #BDD3FF;
    color: white;
    border: 1px solid blue;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

